$color-black: #19191B;
$color-blue-dark: #1D293F;
$color-grey: #696871;
$color-purple: #5454D4;
$color-orange: #FF7143;
$color-orange-dark: #9F3919;
$color-white: #FFFFFF;
$color-white-alpha-70: rgba(255,255,255, 0.7);

$font-DMSans: 'DMSans';
$font-Mulish: 'Mulish';

$container-xl: 1070px;
